[submodule "vendor/gsl"]
	path = vendor/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "vendor/date"]
	path = vendor/date
	url = https://github.com/HowardHinnant/date.git
[submodule "vendor/base64"]
	path = vendor/base64
	url = https://github.com/aklomp/base64
[submodule "vendor/vspp"]
	path = vendor/vspp
	url = https://github.com/terrywh/libvspp.git
